<template lang="html">
  <div class="card-wrapper">
    <div v-for="card in cards.slice(1, 7)" class="card">
      <h3  class="card__date">{{ card.time || card[0].time }}
        <p class="card__calendar-date">{{ card.local_date || card[0].local_date }}</p>
      </h3>
      <ul v-if="card.length" class="card__list">
        <li v-for="c in card" class="card-list-item">
          <p class="card-list-item__name">{{ c.name }}</p>
          <div class="card-list-item__info">
            <p class="card-list-item__time">{{ c.local_time }}</p>
            <p class="card-list-item__rsvp">{{ c.yes_rsvp_count }} going</p>
          </div>
        </li>
      </ul>
      <ul v-else class="card__list">
        <li class="card-list-item">
          <p class="card-list-item__name">{{ card.name }}</p>
          <div class="card-list-item__info">
            <p class="card-list-item__time">{{ card.local_time }}</p>
            <p class="card-list-item__rsvp">{{ card.yes_rsvp_count }} going</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      cards: {
        type: Array
      }
    }
  };
</script>

<style lang="scss">
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 15px;
    width: 100%;
    text-align: left;
    margin: 1.25rem;
    padding: 1.25rem 2.5rem;

    @media only screen and (min-width: 768px) {
      flex: 0 0 33%;
    }

    @media only screen and (min-width: 1024px) {
      flex: 0 0 21%;
    }

    &__date {
      text-align: center;

      @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 1.75rem;
      }
    }

    &__calendar-date {
      font-size: 0.75rem;
      line-height: 0;

      @media only screen and (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    &__list {
      color: #333333;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .card-list-item {
    &:not(:last-child) {
      border-bottom: 1px solid #666666;
      margin-bottom: 2rem;
      padding-bottom: 1.25rem;
    }

    &__name {
      @media only screen and (min-width: 768px) {
        font-size: 1.25rem;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 1.5rem;
      }
    }

    &__info {
      display: flex;
    }

    &__time,
    &__rsvp {
      flex: 0 0 50%;
      font-size: 0.75rem;

      @media only screen and (min-width: 768px) {
        font-size: 1rem;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 1.25rem;
      }
    }

    &__time {
      text-align: left;
    }

    &__rsvp {
      text-align: right;
    }
  }
</style>
